<h2 style="font-weight: bold !important">用戶管理</h2>

<div class="table-container" style="display: flex">
  <div style="width: 500px">
    <div style="flex: 1; margin-right: 50px">
      <mat-card class="card">
        <h4 style="margin-bottom: 20px; font-weight: bold !important">
          新增HIS用戶
        </h4>
        <div style="display: flex; flex-direction: column">
          <input
            style="margin-bottom: 30px"
            matInput
            type="text"
            id="name"
            placeholder="請輸入HIS帳號"
            name="hisAccount"
            [(ngModel)]="hisAccount"
          />

          <div
            style="
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              margin-bottom: 5px;
              display: flex;
              justify-content: center;
            "
          >
            <button
              (click)="findAccountAtHis()"
              mat-raised-button
              class="button"
              [disabled]="!hisAccount"
            >
              查詢使用者
            </button>
          </div>
        </div>
      </mat-card>

      <mat-card
        *ngIf="findUserInfoVO.name != ''"
        class="card"
        style="margin-top: 20px"
      >
        <h4 style="margin-bottom: 20px; font-weight: bold !important">
          用戶資料
        </h4>

        <h5 style="margin-bottom: 5px; font-weight: bold !important">姓名:</h5>

        {{ findUserInfoVO.name }}
        <h5 style="margin-bottom: 5px; font-weight: bold !important">部門:</h5>

        {{ findUserInfoVO.user_department }}


        <div style="margin-bottom: 50px"></div>

        <div
          style="
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin-bottom: 5px;
            display: flex;
            justify-content: center;
          "
        >
          <button (click)="addAccountBtn(findUserInfoVO)" mat-raised-button class="button">
            新增使用者
          </button>
        </div>
      </mat-card>
    </div>
  </div>

  <div style="flex: 1" >
    <input
    (keyup)="findAccount($event)"
      class="input"
      matInput
      type="text"
      [(ngModel)]="filtertext"
      name="filtertext"
      placeholder="搜尋成員"
    />

    <div class="container" style="width: 100%" >
      <table mat-table [dataSource]="memberSource" class="mat-elevation">
        <ng-container matColumnDef="account">
          <th mat-header-cell *matHeaderCellDef>帳號</th>
          <td mat-cell *matCellDef="let element">
            {{ element.identity_number }}
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>姓名</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumnsGroup; sticky: true"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumnsGroup"
          (mouseover)="row.hovered = true"
          (mouseout)="row.hovered = false"
          [class.selected]="selectedRowIndex === row.id"
          (click)="selectedRowIndex = row.id"
        ></tr>
      </table>
      <h6 style="text-align: right;">共{{ memberTotalCount }}人</h6>
    </div>
  </div>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
