.card{
padding: 20px;

}

.input {
  width: 500px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.container {
  max-height: 550px;
  overflow: auto;
}


.mat-elevation tr.selected {
  background-color: #f2f2f2;
}
