<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>group_add</mat-icon>編輯成員</ng-template
    >
    <mat-accordion>
      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title> 群組設定說明 </mat-panel-title>
          <mat-panel-description>
            同一成員可對應多個群組
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-grid-list cols="2" gutterSize="0px" rowHeight="800px">
        <mat-grid-tile>
          <div class="post-tile">
            <mat-button-toggle-group>
              <mat-button-toggle>全部用戶</mat-button-toggle>
              <input
                (keyup)="findAccount($event)"
                [(ngModel)]="filtertext"
                class="input"
                matInput
                type="text"
                name="filtertext"
                placeholder="搜尋成員"
              />
            </mat-button-toggle-group>

            <div class="div-table">
              <table
                mat-table
                [dataSource]="memberSource"
                class="example-container"
              >
                <ng-container matColumnDef="account">
                  <th mat-header-cell *matHeaderCellDef>帳號</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.identity_number }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>姓名</th>
                  <td mat-cell *matCellDef="let element">{{ element.name }}  </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let row">
                    <button *ngIf="selectedGroup.is_admin_group !==1" mat-button (click)="addMemberToGroup(row)">
                      <mat-icon >group_add</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr
                  mat-header-row
                  *matHeaderRowDef="displayedColumnsGroup; sticky: true"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumnsGroup"
                  (mouseover)="row.hovered = true"
                  (mouseout)="row.hovered = false"
                  [class.selected]="selectedRowIndex === row.id"
                  (click)="selectedRowIndex = row.id"
                ></tr>
              </table>
              <h6 style="text-align: right;">共{{ memberTotalCount }}人</h6>
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="post-tile">
            <mat-form-field class="select" appearance="fill">
              <mat-label>群組名稱</mat-label>
              <mat-select
                [(ngModel)]="selectedGroup"
                (selectionChange)="findGroupMembers($event.value)"
              >

                <mat-option *ngFor="let group of allGroupList" [value]="group">
                  {{ group.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="div-table">
              <table
                [dataSource]="groupMemberSource"
                mat-table
                class="groupmember"
              >
                <ng-container matColumnDef="account">
                  <th mat-header-cell *matHeaderCellDef>帳號</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.user_identity_number }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>姓名</th>
                  <td mat-cell *matCellDef="let element">{{ element.user_name }}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td align="right" mat-cell *matCellDef="let row">
                    <button mat-button color="warn" (click)="removeMemberFromGroup(row)">
                      <mat-icon>delete_forever</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr
                  mat-header-row
                  *matHeaderRowDef="displayedColumnsGroup; sticky: true"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumnsGroup"
                  (mouseover)="row.hovered = true"
                  (mouseout)="row.hovered = false"

                ></tr>
                <tr class="mat-row" *matNoDataRow>
                  <td
                    class="mat-cell"
                    colspan="4"
                    style="
                      font-size: 20px;
                      text-align: center;
                      vertical-align: middle;
                    "
                  >
                    目前沒有成員
                  </td>
                </tr>
              </table>
              <h6 style="text-align: right;">共{{ groupMemberTotalCount }}人</h6>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-accordion>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>edit</mat-icon>新增/刪除群組</ng-template
    >
  </mat-tab>
</mat-tab-group>
