

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-row:nth-child(odd){
  background-color: rgb(247, 247, 247);
}


.example-container tr.selected {
  background-color: #f2f2f2;
}

.groupmember tr.selected{
  background-color: #f2f2f2;
}


.mat-cell {
font-size: 110%;
font-weight: bold;
}

.mat-select{
font-size: 110%;
font-weight: bold;
}

.mat-option{
font-size: 110%;
font-weight: bold;
}

.mat-raised-button{
font-size: 24px;
font-weight: bold;
}

.mat-row.hovered {
background: #eee;
}


.post-tile {
align-self: flex-start;
width: 100%;
margin: 10px;
max-height: 100%;
}

.div-table{
width: 100%;
margin-top: 5px;

min-height: 400px;
max-height: 600px;
overflow: auto;
}

.select{
width: 100%;
overflow: auto;
}

.example-button-row {
display: table-cell;
width: 490px;
}

.example-section {
display: flex;
align-content: center;
align-items: center;
height: 60px;
}

.example-full-width{
font-size: 110%;
font-weight: bold;
}

mat-icon {
height: 20px;
width: 20px;
font-size: 20px;
margin-right: 5px;
}

.mat-success {
color: #fff;
}

.example-container {
height: 300px;
max-width: 100%;
min-height: 400px;
max-height: 600px;
overflow: auto;
}


.mat-tab-group {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-button-toggle-group {
  display: flex;
  align-items: center;
  flex: 1;
  border: none;
  outline: none;
}

.input {

  margin-left: 10px;
  flex: 1;

}





