


.selectdiv{

  display: flex;
  width: 50%;
}

.select{
  flex: 1;
}

.cardBtn{
  position: absolute;
  top: 100px;
  right: 20px;
  z-index:1000
}

.controlPanel{
  position: absolute;
  top: 150px;
  right: 0px;
  z-index:1000
}



.radio-button-container {
  display: flex;
  flex-direction: column;
}

.checkbox-container{
  height: 150px; /* 设置容器高度 */
  overflow: auto;
}

.delBtn{
  width: 100px;
  padding: auto;
}


.pointedTable{
  overflow: auto;
  height: 200px;
}



