<!-- 群組已經打點物品
<div *ngFor="let item of floorPointItemList">
    {{ item |json}}
</div> -->
<!-- <br>
群組可以打點物品
<div>
    {{ groupCanPointItem |json}}
</div> -->
<!-- <div *ngFor="let item of selectedPointIconList">
<img
width="30px"
height="30px"
src="{{ item }}"
/>
</div> -->

<!-- {{ selectedPointIconList | json }} -->

<div class="selectdiv">
  <div class="select">
    <mat-form-field appearance="fill">
      <mat-label>群組</mat-label>
      <mat-select (selectionChange)="selectGroup()" [(ngModel)]="selectedGroup">
        <mat-option *ngFor="let group of groupList" [value]="group">
          {{ group.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="select">
    <mat-form-field appearance="fill">
      <mat-label>地圖</mat-label>
      <mat-select [(ngModel)]="selectedMap" (selectionChange)="selectMap()">
        <mat-option *ngFor="let groupMap of groupMapList" [value]="groupMap">
          {{ groupMap.build_name }}{{ groupMap.floor_name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="cardBtn" *ngIf="!isUserNoGroup && !this.groupNoMap ">
  <img width="30px" (click)="openControlPanel()" src="assets/img/3d.png" />
</div>

<mat-card style="width: 40%" class="controlPanel" *ngIf="controlPanelVisible">
  <mat-card-header>
    <mat-card-title style="font-weight: bold !important"
      >目前可標記的物品</mat-card-title
    >
  </mat-card-header>
  <mat-card-content>
    <section class="example-section">
      <div class="option-container" *ngIf="groupCanPointItem">
        <mat-tab-group (selectedTabChange)="selectPointItemType()">
          <mat-tab label="沒有編號的物品">
            <br />
            <div class="checkbox-container">
              <mat-radio-group>
                <div class="radio-button-container">
                  <div
                    *ngFor="
                      let option of groupCanPointItem.item_distribute_group_list
                    "
                  >
                    <!-- 管理員角度 -->
                    <div *ngIf="isAdmin">
                      <mat-radio-button
                        color="primary"
                        (click)="selectNoUuidItem(option)"
                        [value]="option"
                        *ngIf="
                          AdmincheckNoNumberItemPointPermission(option);
                          else elseTemplate
                        "
                      >
                        <img
                          width="40px"
                          height="40px"
                          src="{{ option.icon }}"
                        />
                        {{ option.item_name }} *
                        {{ option.count - decresecount(option.item_group_id) }}

                        <div
                          style="margin-left: 10px"
                          *ngIf="
                            selectedNoUuidItem == option &&
                            isSelectedNoUuidItem &&
                            option.count - decresecount(option.item_group_id) !=
                              0
                          "
                        >
                          數量:
                          <input
                            type="number"
                            [min]="1"
                            [max]="
                              option.count - decresecount(option.item_group_id)
                            "
                            [(ngModel)]="itemPointVO.count"
                          />
                        </div>
                      </mat-radio-button>
                    </div>

                    <ng-template #elseTemplate>
                      <img width="40px" height="40px" src="{{ option.icon }}" />
                      {{ option.item_name }} *
                      {{ option.count - decresecount(option.item_group_id) }}
                    </ng-template>

                    <!-- 不是管理員角度 -->
                    <div *ngIf="!isAdmin">
                      <mat-radio-button
                        color="primary"
                        (click)="selectNoUuidItem(option)"
                        [value]="option"
                        *ngIf="
                        AdmincheckNoNumberItemPointPermission(option);
                        else elseTemplate
                      "
                      >
                        <img
                          width="40px"
                          height="40px"
                          src="{{ option.icon }}"
                        />
                        {{ option.item_name }} *
                        {{ option.count - decresecount(option.item_group_id) }}
                        <div
                          *ngIf="
                            selectedNoUuidItem == option &&
                            isAdminPointItem &&
                            !isAdmin
                          "
                        >
                          管理員的物品
                        </div>
                        <div
                          style="margin-left: 10px"
                          *ngIf="
                            selectedNoUuidItem == option &&
                            isSelectedNoUuidItem &&
                            option.count - decresecount(option.item_group_id) !=
                              0
                          "
                        >
                          數量:
                          <input
                            type="number"
                            [min]="1"
                            [max]="
                              option.count - decresecount(option.item_group_id)
                            "
                            [(ngModel)]="itemPointVO.count"
                          />
                        </div>
                      </mat-radio-button>
                    </div>
                  </div>
                </div>
              </mat-radio-group>
            </div>
          </mat-tab>
          <mat-tab label="有編號的物品">
            <div class="checkbox-container">
              <div *ngFor="let item of groupCanPointItem.item_number_list">
                <div style="display: inline-block">
                  <img width="40px" height="40px" src="{{ item.icon }}" />

                  <div *ngIf="!isAdmin" style="display: inline-block">
                    <div
                      *ngIf="!checkNumberItemPointPermission(item)"
                      style="display: inline-block"
                    >
                      <mat-checkbox
                        (change)="selecteduuidItem($event, item)"
                        color="primary"
                      >
                      </mat-checkbox>
                    </div>

                    <div style="display: inline-block">
                      {{ item.item_name }} ({{ item.item_number_id }})
                    </div>
                  </div>

                  <div *ngIf="isAdmin" style="display: inline-block">
                    <div style="display: inline-block">
                      <div
                      *ngIf="admincheckNumberItemPointPermission(item)"
                      style="display: inline-block"
                    >
                      <mat-checkbox
                        (change)="selecteduuidItem($event, item)"
                        color="primary"
                      >
                      </mat-checkbox>
                      </div>
                    </div>

                    <div style="display: inline-block">
                      {{ item.item_name }} ({{ item.item_number_id }})
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </section>
  </mat-card-content>

  <mat-card-header>
    <mat-card-title style="font-weight: bold !important"
      >目前已標記的物品</mat-card-title
    >
  </mat-card-header>
  <mat-card-content>
    <div class="pointedTable">
      <table
        mat-table
        *ngIf="floorPointItemList.length !== 0"
        [dataSource]="pointedItem"
        class="mat-elevation"
      >
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>物品分類</th>
          <td mat-cell *matCellDef="let element">
            <img
              width="30px"
              height="30px"
              src="{{ mappingItemIcon(element) }}"
            />
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>物品名稱</th>
          <td mat-cell *matCellDef="let element">
            {{ mappingItemName(element) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="itemUuid">
          <th mat-header-cell *matHeaderCellDef>物品編號</th>
          <td mat-cell *matCellDef="let element">
            {{ element.item_number_id }}
          </td>
        </ng-container>
        <ng-container matColumnDef="count">
          <th mat-header-cell *matHeaderCellDef>數量</th>
          <td mat-cell *matCellDef="let element">{{ element.count }}</td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">

            <!-- 沒有編號的物品 -->
            <div
              *ngIf="!isAdmin && element.item_group_id !== 0"
              style="display: inline-block"
            >
              <div *ngIf="checkNoUuidItemRemovePermission(element)">
                <button
                  class="delBtn"
                  mat-raised-button
                  (click)="removeMark(element)"
                >
                  移除標記
                </button>
              </div>
            </div>

            <!-- 有編號的物品    item_group_id = 0 -->
            <div
              *ngIf="!isAdmin && element.item_group_id == 0"
              style="display: inline-block"
            >
              <div *ngIf="checkUuidItemRemovePermission(element)">
                <button
                  class="delBtn"
                  mat-raised-button
                  (click)="removeMark(element)"
                >
                  移除標記
                </button>
              </div>
            </div>

            <!-- 管理員看沒有編號的物品 -->
            <div *ngIf="isAdmin  && element.item_group_id !== 0" style="display: inline-block">
              <!-- checkAdminRemoveMarkPermission()  return true才能刪 -->
              <button
              *ngIf="AdmincheckRemoveNoNumberItemPointPermission(element)"
                class="delBtn"
                mat-raised-button
                (click)="removeMark(element)"
              >
                移除標記
              </button>
            </div>
             <!-- 管理員看有編號的物品 -->
            <div *ngIf="isAdmin  && element.item_group_id == 0" style="display: inline-block">
              <!-- checkAdminRemoveMarkPermission()  return true才能刪 -->
              <button
              *ngIf="AdmincheckRemoveNumberItemPointPermission(element)"
                class="delBtn"
                mat-raised-button
                (click)="removeMark(element)"
              >
                移除標記
              </button>
            </div>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumnsGroup; sticky: true"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumnsGroup"
          (mouseover)="row.hovered = true"
          (mouseout)="row.hovered = false"
        ></tr>
      </table>
    </div>
  </mat-card-content>

  <!-- <div class="markItemInfo">
    <h4>打點物品資訊</h4>

    <p style="white-space: pre-wrap">打點物品名稱:{{ itemPointVO | json }}</p>
    <p>打點數量:{{ itemPointVO.count }}</p>
    <p>
      打點物品icon:
      <img
        *ngIf="selectedPointIcon"
        width="30px"
        height="30px"
        src="{{ selectedPointIcon }}"
      />
    </p>
  </div> -->
</mat-card>


<canvas
  #canvas
  *ngIf="!isUserNoGroup && !this.groupNoMap"
  (click)="pointOnMap($event)"
>
</canvas>


<div *ngIf="this.groupNoMap">該群組目前沒有負責管理的大樓</div>



<!-- <img [src]="selectedMap.floor_Image_url"> -->
