<!-- {{ building }} -->

<!-- {{ floor }} -->

<!-- <br>

要查詢的地圖:
<br>
{{findBuilding.build_name}} {{ findFloor.floor_name }} -->
<!-- 要查詢的樓層:{{  }} -->
<!-- <br> -->

<!-- <img  src="{{ findFloor.floor_Image_url }}" /> -->
<div class="container">
<canvas
style="max-width: 100%; max-height: 100%;"
  #canvas

>
</canvas>
<!-- <div *ngIf="findFloor">
floorId:{{findFloor.id }}
</div> -->
</div>



