<div  style="width: 300px;">
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div mat-dialog-content>
    <p>{{data.content}}</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial color="primary">確認</button>
    <button mat-button [mat-dialog-close]="false" cdkFocusInitial color="primary">取消</button>
  </div>

  </div>
