<c-sidebar
  #sidebar="cSidebar"
  class="d-print-none sidebar sidebar-fixed"
  id="sidebar"

  visible
>
  <c-sidebar-brand style="font-size: 30px">
    {{ titleName }}
  </c-sidebar-brand>
  <c-sidebar-brand style="font-size: 15px">

    <br />

    <div style=" display: flex;
    flex-direction: column;" class="column-container">
    <p style="font-size: 20px;text-align: center">  嗨! {{ userName }}</p>
      <!-- <div *ngFor="let group of groupList" style=""  class="column-item">

        {{ group.name }}
      </div> -->
    </div>

<!-- {{groupList |json}} -->
    <!-- {{ userDepartment }} -->
  </c-sidebar-brand>

  <perfect-scrollbar [config]="perfectScrollbarConfig">
    <c-sidebar-nav [navItems]="navItems">  </c-sidebar-nav>
  </perfect-scrollbar>

  <c-sidebar-brand style="font-size: 30px">

    {{userRole}}
  </c-sidebar-brand>

</c-sidebar>

<!--main-->
<div class="wrapper d-flex flex-column min-vh-100 bg-light dark:bg-transparent">
  <!--app-header-->
  <app-default-header
    class="mb-4 d-print-none header header-sticky"
    position="sticky"
    sidebarId="sidebar"
  ></app-default-header>
  <!--app-body-->
  <div class="body flex-grow-1 px-3">
    <c-container breakpoint="lg" class="h-auto">
      <router-outlet></router-outlet>
    </c-container>
  </div>
  <!--app footer-->
  <app-default-footer></app-default-footer>
</div>
