<div class="example-container form-table-wrapper">
  <div class="row">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>大樓名稱</mat-label>
      <mat-select
        [(ngModel)]="selectedBuilding"
        (selectionChange)="findBuildingFloors($event.value)"
      >
        <mat-option *ngFor="let building of buildingList" [value]="building">{{
          building.build_name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>樓層</mat-label>
      <mat-select
        [(ngModel)]="selectedFloor"
        (selectionChange)="findFloorGroups($event.value)"
      >
        <mat-option *ngFor="let floor of floorList" [value]="floor">{{
          floor.floor_name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-icon-button (click)="onPreviewImage()">
      <mat-icon>map</mat-icon>
    </button>
  </div>
  <div class="container">
    <table mat-table [dataSource]="groupSource" class="mat-elevation">
      <ng-container matColumnDef="group">
        <th mat-header-cell *matHeaderCellDef>群組名稱</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumnsGroup; sticky: true"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumnsGroup"
        (mouseover)="row.hovered = true"
        (mouseout)="row.hovered = false"
        [class.selected]="selectedRowIndex === row.id"
        (click)="selectedRowIndex = row.id"
      ></tr>
    </table>
  </div>
</div>

<div *ngIf="showMask" class="lightbox" (click)="closePicture()">
  <button (click)="closePicture()" *ngIf="previewImage" class="close-btn">
    <mat-icon>close</mat-icon>
  </button>

  <div *ngIf="previewImage" class="lightbox-img">

      <img
      style="max-width: 100%; max-height: 100%;"
        [src]="currentLightBoxImage.imageSrc"
        [alt]="currentLightBoxImage.imageAlt"
      />
    </div>
</div>
