
.mat-elevation tr.selected {
  background-color: #f2f2f2;
}


.form-table-wrapper {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.form-field {
  flex: 1;
  // margin-right: 10px;
}

.container {
  // flex: 1;
  height: 600px; /* 设置容器的固定高度 */
  overflow: auto; /* 添加垂直滚动条 */
}



:host{
  display: block;
  text-align: center;

}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.close-btn {
  position: absolute;
  top: 100px;
  right: 50px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}


.close-btn mat-icon {
  font-size: 30px;
  color: white;
}

.lightbox-img{
  // padding-bottom: 100px;
  justify-content: center;
  align-items: center;
  max-width: 45%;
  max-height: 100%;
  //  object-fit: contain;
}
