<div class="example-container form-table-wrapper">
  <div class="row">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>搜尋分類名稱</mat-label>
      <mat-select
        [(ngModel)]="selectedSearchItemCategory"
        (selectionChange)="findItemByCategory($event.value)"
      >
        <mat-option
          *ngFor="let itemCategory of itemCategoryList"
          [value]="itemCategory"
        >
          {{ itemCategory.name }}
        </mat-option>
      </mat-select>

    </mat-form-field>

    <input
      (keyup)="findItem($event)"
      [(ngModel)]="filterText"
      class="input"
      matInput
      type="text"
      id="fname"
      name="fname"
      placeholder="搜尋項目名稱"
    />
    <button class="searchBtn" mat-raised-button (click)="clearSearchBtn()">
      清除所有條件
    </button>
    <div>
      <button class="addBtn" mat-raised-button (click)="addCardBtn()">
        新增
      </button>
    </div>
  </div>
</div>

<div class="table-container" style="width: 50%;">
  <div class="datatable">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="category_name">
        <th mat-header-cell *matHeaderCellDef>分類</th>
        <td mat-cell *matCellDef="let element">
          {{mappingCategoryName(element)}}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>項目</th>

        <!-- {{ element.is_map_point } -->
        <td mat-cell *matCellDef="let element">{{ element.name }} {{ element.is_map_point === 1 ? '(單位物品)' : '(管理員物品)' }}</td>
      </ng-container>

      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef>數量</th>
        <td mat-cell *matCellDef="let element" >{{ element.count }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>功能</th>
        <td mat-cell *matCellDef="let element" class="icon-container">
          <mat-icon class="icon-margin" (click)="deleteItem(element)"
            >delete_outline</mat-icon
          >
          <mat-icon class="icon-margin" (click)="editItem(element)"
            >edit</mat-icon
          >
          <mat-icon
            class="icon-margin"
            [routerLink]="['/item/distribute', { item: exchange(element) }]"
            >trending_flat</mat-icon
          >
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td
          class="mat-cell"
          colspan="4"
          style="font-size: 20px; text-align: center; vertical-align: middle ;padding: 10px;"
        >
          目前沒有物品
        </td>
      </tr>
    </table>
  </div>


  <mat-card *ngIf="cardvisible" class="card">
    <div class="card-detail">
      <h4 style="margin-bottom: 30px; font-weight: bold !important">
        新增項目
      </h4>
      <div style="display: flex; flex-direction: column">
        <h5>分類</h5>
        <mat-form-field style="margin-top: 5px" class="form-field">
          <mat-label>分類名稱</mat-label>
          <mat-select [(ngModel)]="addItemVO.category_id">
            <mat-option
              *ngFor="let itemCategory of itemCategoryList"
              [value]="itemCategory.id"
            >
              {{ itemCategory.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <h5>項目名稱</h5>
        <input
          [(ngModel)]="addItemVO.name"
          class="addItemNameInput"
          matInput
          type="text"
          id="fname"
          name="fname"
          placeholder="項目名稱"
        />

        <section
          class="example-section"
          style="margin-top: 10px; display: flex; flex-wrap: wrap"
        >
          <mat-radio-group [(ngModel)]="addItemVO.is_map_point">
            <h5>打點權限</h5>
            <mat-radio-button color="primary" [value]="0">
              管理員
            </mat-radio-button>
            <mat-radio-button color="primary" [value]="1">
              單位
            </mat-radio-button>
          </mat-radio-group>
        </section>

        <section class="example-section" style="margin-top: 10px">
          <h5>地圖權限</h5>
          <mat-checkbox
            color="primary"
            class="example-margin"
            [(ngModel)]="addItemVO.is_map_search"
            (change)="addItemVO.is_map_search = $event.checked ? 1 : 0"
            >地圖上皆可查詢</mat-checkbox
          >
        </section>
        <h5>數量</h5>
        <input
          [(ngModel)]="addItemVO.count"
          matInput
          type="number"
          placeholder="數量"
        />
        <section class="example-section" style="margin-top: 10px">
          <h5>物品編號</h5>
          <mat-checkbox
            color="primary"
            class="example-margin"
            [(ngModel)]="addItemVO.is_number"
            (change)="addItemVO.is_number = $event.checked ? 1 : 0"
            >是否需要編號</mat-checkbox
          >
        </section>

        <div
          style="
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
          "
        >
          <button mat-raised-button class="button" (click)="submit()">
            送出
          </button>

          <button mat-raised-button class="button" (click)="cancel()">
            返回
          </button>
        </div>
      </div>
    </div>
  </mat-card>

  <mat-card *ngIf="updateCardvisible" class="card">
    <div class="card-detail">
      <h4 style="margin-bottom: 30px; font-weight: bold !important">
        編輯項目
      </h4>
      <div style="display: flex; flex-direction: column">
        <h5>分類</h5>
        <mat-form-field style="margin-top: 5px" class="form-field">
          <mat-label>分類名稱</mat-label>
          <mat-select [(ngModel)]="updateItem.category_id">
            <mat-option
              *ngFor="let itemCategory of itemCategoryList"
              [value]="itemCategory.id"
            >
              {{ itemCategory.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <h5>項目名稱</h5>
        <input
          [(ngModel)]="updateItem.name"
          class="addItemNameInput"
          matInput
          type="text"
          id="fname"
          name="fname"
          placeholder="項目名稱"
        />

        <section
          class="example-section"
          style="margin-top: 10px; display: flex; flex-wrap: wrap"
        >
          <mat-radio-group [(ngModel)]="updateItem.is_map_point">
            <h5>打點權限</h5>
            <mat-radio-button color="primary" [value]="0">
              管理員
            </mat-radio-button>
            <mat-radio-button color="primary" [value]="1">
              單位
            </mat-radio-button>
          </mat-radio-group>
        </section>

        <section class="example-section" style="margin-top: 10px">
          <h5>地圖權限</h5>
          <mat-checkbox
            color="primary"
            class="example-margin"
            [(ngModel)]="updateItem.is_map_search"
            (change)="updateItem.is_map_search = $event.checked ? 1 : 0"
            >地圖上皆可查詢</mat-checkbox
          >
        </section>
        <h5>數量</h5>
        <input
          [(ngModel)]="updateItem.count"
          matInput
          type="number"
          [min]="distributeCount === 0 ? 1 : distributeCount"
          placeholder="數量"
        />
        <section
          *ngIf="updateItem.is_number != 1"
          class="example-section"
          style="margin-top: 10px"
        >
          <h5>物品編號</h5>
          <mat-checkbox
            color="primary"
            class="example-margin"
            [(ngModel)]="updateItem.is_number"
            (change)="updateItem.is_number = $event.checked ? 1 : 0"
            >是否需要編號</mat-checkbox
          >
        </section>
        <div class="itemStatus">
          <p>未分配:{{ unDistributeCount }}</p>
          <p>已分配: {{ distributeCount }}</p>
        </div>

        <div
          style="
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
          "
        >
          <button mat-raised-button class="button" (click)="updateItemBtn()">
            儲存
          </button>

          <button mat-raised-button class="button" (click)="updateCancel()">
            返回
          </button>
        </div>
      </div>
    </div>
  </mat-card>
</div>
