.form-table-wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.form-field {
  flex: 1;
}

.input
{
  flex: 1;
  height: 55px;
}

.addBtn{
  margin-bottom: 10px;
}

.searchBtn{
  margin: 10px;
  flex: 0.4;
}



.datatable{
  overflow: auto;
  height: 600px;
}


.button{
  margin-left: 10PX;
  width: 50px;
}

.card {
  width: 500px;
  // height: 620px;
  position: fixed;
  top: 200px;
  right: 200px;
}

.card-detail{
  padding: 10px;
}

.img-display{
  width: 100px;
  height: 100px;
}


.addItemNameInput{
  margin-top: 10px;
}


.icon-margin{
  margin: 0 10px;
}



.itemStatus{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
}








.uuidTable{
  overflow: auto;
  height: 100px;
}




