
<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form
                  cForm cRow
                  class="needs-validation"
               >
                <h2>設備管理系統登入</h2>
                <c-input-group class="mb-4" >
                  <span cInputGroupText >
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input
                    cFormControl
                    type="text" id="username"  class="form-control" placeholder="帳號"  [(ngModel)]="loginRequest.account" name="account"
                    />
                  <c-form-feedback [valid]="false">請輸入帳號</c-form-feedback>
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                  type="password" id="password"  class="form-control" placeholder="密碼"[(ngModel)]="loginRequest.password" name="password"
                  />
                  <c-form-feedback [valid]="false" >請輸入密碼</c-form-feedback>
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button  (click)="login()" cButton class="px-4" color="primary" type="submit">
                      登入
                    </button>
                  </c-col>
                </c-row>
              </form>
              <br>
              <c-alert color="danger" [visible]="errorVisible">{{errorMessage}}</c-alert>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
