<h2 style="font-weight: bold !important">物品分類管理</h2>
<div class="container" style="display: flex; flex-direction: column">
  <input
    (keyup)="findItemCategory($event)"
    [(ngModel)]="filtertext"
    class="input"
    matInput
    type="text"
    id="fname"
    name="fname"
    placeholder="搜尋名稱"
  />

  <button mat-raised-button (click)="addCardBtn()" class="button">新增</button>
</div>

<div class="table-container">
  <div style="width: 500px">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-table mat-elevation-z8"
    >
      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef>Icon</th>
        <td mat-cell *matCellDef="let element">
          <img
            style="width: 80px; height: 80px"
            [src]="element.icon"
            alt="Icon"
          />
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>分類名稱</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>功能</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon (click)="deleteIconBtn(element)"
            >delete_outline</mat-icon
          >
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <mat-card *ngIf="cardvisible" class="card">
    <div class="card-detail">
      <h4 style="margin-bottom: 30px; font-weight: bold !important">
        新增分類
      </h4>
      <div style="display: flex; flex-direction: column">
        <h5>分類名稱</h5>
        <input
          style="margin-bottom: 30px"
          matInput
          type="text"
          id="name"
          [(ngModel)]="addItemCategoryVO.name"
          name="name"
        />

        <h5>Icon</h5>
        <input
          type="file"
          #fileUpload
          style="display: none"
          (change)="onFileSelected($event)"
        />
        <mat-icon (click)="uploadIconBtn()">cloud_upload</mat-icon>

        <br />
        <h5 *ngIf="selectedImageSrc == ''">請上傳300x300以內的Icon圖片</h5>
        <div class="img-display">
          <img *ngIf="!imageTooLarge" [src]="selectedImageSrc" />
        </div>
        <div
          style="
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
          "
        >
          <button mat-raised-button (click)="submit()" class="button">
            送出
          </button>

          <button mat-raised-button (click)="cancelBtn()" class="button">
            返回
          </button>
        </div>
      </div>
    </div>
  </mat-card>
</div>
