
.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.table-container {
  display: flex;
}

.input{
  margin-top: 10px;
  width: 450px;
  margin-bottom: 0px;
}

.button{
  margin-top: 10px;
  margin-left: 10PX;
  width: 50px;
}

.card {
  width: 500px;
  height: 550px;
  margin-left: 100px;
}

.card-detail{
  padding: 20px;
}

.img-display{
  width: 100px;
  height: 100px;
}




