
<div *ngIf="itemInfo && !isNeedNumberItem" class="title">
  <div class="itemName">
    <h2 style="font-weight: bold !important">{{ itemVO.name }}</h2>
  </div>
  <div class="itemDistribute">
    <h2 style="font-weight: bold !important">
      未分配: {{ itemInfo.unassigned_count }} 已分配:{{
        itemInfo.distribute_count
      }}
    </h2>
  </div>
</div>

<div *ngIf="numberItemInfo && isNeedNumberItem" class="title">
  <div class="itemName">
    <h2 style="font-weight: bold !important">{{ itemVO.name }}</h2>
  </div>
  <div class="itemDistribute">
    <h2 style="font-weight: bold !important">
      未分配: {{ numberItemInfo.unassigned_count }} 已分配:{{
        numberItemInfo.distribute_count
      }}
    </h2>
  </div>
</div>

<!-- 不需要物品編號的物品 -->
<div *ngIf="itemInfo && !isNeedNumberItem" class="content">
  <div class="leftTable">
    <table
      mat-table
      [dataSource]="itemDistributeSource"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="groupName">
        <th mat-header-cell *matHeaderCellDef>群組名稱</th>
        <td mat-cell *matCellDef="let element">
          {{ element.group_name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef>數量</th>
        <td mat-cell *matCellDef="let element">
          <div class="input-container">
          <input
            [(ngModel)]="element.count"
            class="input"
            matInput
            type="number"
            [min]=1
            id="fname"
            name="fname"
            placeholder="數量"
          />
          <button class="submitBtn" mat-raised-button (click)="updateItemCount(element)">儲存</button>
          <mat-icon  (click)="deleteItem(element)"
          >delete_outline</mat-icon
        >
        </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div class="fill"></div>

  <div class="rightTable">
    <table mat-table [dataSource]="groupDataSource" class="mat-elevation-z8" >
      <ng-container matColumnDef="groupName">
        <th mat-header-cell *matHeaderCellDef>部門名稱</th>
        <td mat-cell *matCellDef="let element">
          {{ element.group_name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="input" (click)="addBtn(element)"
            >add_outline</mat-icon
          >
          <input
            *ngIf="selectedRow === element && addCountDisplay"
            [(ngModel)]="groupAddItemVO.count"
            class="input"
            matInput
            type="number"
            [max]=itemInfo.unassigned_count
            [min]=1
            id="fname"
            name="fname"
            placeholder="數量"
          />
          <button
            *ngIf="selectedRow === element && addCountDisplay"
            class="submitBtn"
            mat-raised-button
            (click)="submit(element)"
          >
            送出
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="groupDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: groupDisplayedColumns"></tr>
    </table>
  </div>
</div>



<!-- 需要編號的物品 -->
<div *ngIf="numberItemInfo && isNeedNumberItem" class="content">
  <div class="leftTable">
   <div class ="groupitem">
    <table

      mat-table
      [dataSource]="numberItemDistributeSource"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="groupName">
        <th mat-header-cell *matHeaderCellDef>部門名稱</th>
        <td mat-cell *matCellDef="let element">
          {{ element.group_name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef>物品編號</th>
        <td mat-cell *matCellDef="let element" >
          {{ element.item_number_id }}
          <div class="right-align-cell">
          <mat-icon class="icon-margin" (click)="deleteNumberItem(element)"
            >delete_outline</mat-icon
          >
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  </div>
  <div class="fill"></div>

  <div class="rightTable">
    <table mat-table [dataSource]="groupDataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="groupName">
        <th mat-header-cell *matHeaderCellDef>部門名稱</th>
        <td mat-cell *matCellDef="let element" >
          {{ element.group_name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="input" (click)="addBtn(element)"
            >add_outline</mat-icon
          >
          <input
            *ngIf="selectedRow === element && addCountDisplay"
            [(ngModel)]="groupAddItemVO.count"

            class="input"
            matInput
            type="number"
            [max]=numberItemInfo.unassigned_count
            [min]=1
            id="fname"
            name="fname"
            placeholder="數量"
          />
          <button
            *ngIf="selectedRow === element && addCountDisplay"
            class="submitBtn"
            mat-raised-button
            (click)="submit(element)"
          >
            送出
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="groupDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: groupDisplayedColumns"></tr>
    </table>
  </div>
</div>
