.title{
  display: flex;
  width: 100%;

}

.itemName{
  flex: 1;

}

.itemDistribute{
  flex: 1;
  margin-left: 20px;
}



.content{
  margin-top: 50px;
  display: flex;
  width: 100%;

}


.leftTable{
  flex: 1;
}


.rightTable{
  flex: 1;
}

.fill{
  flex: 0.5;
}


.input{
  margin-left: 5px;
  vertical-align: middle;
}



.submitBtn {
  vertical-align: middle;
  margin-left: 10px;
}

.cell-align-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-margin{
  margin-left: 10px;
}

.input-container {
  display: flex;
  align-items: center;
}

.mat-icon {
  margin-left: 10px; /* 可根据需要调整图标和输入框之间的间距 */
}

.groupitem{
  overflow: auto;
  height: 600px;
}
.right-align-cell {
  text-align: right;
}







