
<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <p>物品名稱:{{itemInfo.name}}</p>
  <p>數量:{{itemInfo.count}}</p>
  <div *ngIf="itemInfo.uuidItemList.length > 0" >
  <p>物品編號:</p>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let uuid of itemInfo.uuidItemList">{{uuid}}</mat-list-item>
    </mat-list>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial color="primary">確認</button>
</div>
